[submodule "lisdf"]
	path = lisdf
	url = git@github.com:wanderman12345/lisdf.git
[submodule "pybullet_planning"]
	path = pybullet_planning
	url = git@github.com:wanderman12345/pybullet_planning.git
[submodule "assets/models"]
	path = assets/models
	url = git@github.com:wanderman12345/kitchen-models.git
[submodule "pddlstream"]
	path = pddlstream
	url = git@github.com:wanderman12345/pddlstream.git
